//Used by both Create and Update pages

.create {
  gap: 2rem;
  &__title {
    @include title($green, $blue);
  }

  &__desc {
    font-weight: 300;
    text-align: justify;
    margin-top: 1rem;
  }
}
