@import "@/styles/variables.scss";

.home {
  &__title {
    &__gradient {
      @include title($yellow, $pink);
    }
  }

  &__desc {
    font-weight: 300;
    text-align: center;
    margin-top: 1rem;
  }
}
