.home {
  &__title {
    text-align: center;
    text-transform: uppercase;

    font-weight: 900;
    font-size: clamp(1rem, 10vw, 2rem);

    &__gradient {
      background: linear-gradient(
        60deg,
        $yellow,
        lighten($pink, 20%),
        $yellow,
        lighten($pink, 20%)
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      color: $blue;
    }
  }

  &__desc {
    font-weight: 300;
    text-align: center;
    margin-top: 1rem;
  }
}
