$blue: #26547c;
$pink: #ef476f;
$yellow: #ffd166;
$green: #06d6a0;
$white: #fff8f2;

@mixin dropDown($top, $align: stretch) {
  z-index: 1000;
  position: absolute;
  top: $top;
  right: 0;

  border-radius: 6px;

  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: $align;
  gap: 0.75rem;
  padding: 1rem;
  white-space: nowrap;
}

@mixin baseInput() {
  border: none;
  outline: none;
  border-bottom: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-family: inherit;
}

@mixin title($color1, $color2) {
  background: linear-gradient(
    60deg,
    $color1,
    lighten($color2, 20%),
    $color1,
    lighten($color2, 20%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: $color2;
}

@mixin glassmorphism($borderRad: 10px, $bgcol: rgba(201, 201, 201, 0.178)) {
  /* From https://css.glass */
  background: $bgcol;
  border-radius: $borderRad;
  backdrop-filter: blur(2.7px);
  -webkit-backdrop-filter: blur(2.7px);
}
