@import "./variables.scss";

// ---------- Style reset
* {
  box-sizing: border-box;
  margin: 0;
}
a {
  text-decoration: none;
  color: black;
}
h1,
h2,
h3,
h4 {
  font-size: 1rem;
  font-weight: 400;
}

// ---------- General Styles

body {
  background-color: $white;
  background: radial-gradient(
    circle,
    rgb(248, 238, 219) 0%,
    rgba(255, 253, 250, 1) 100%
  );
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

main {
  padding: 1rem 6vw;
}

section {
  width: 100%;

  display: grid;
  place-items: center;
}

.smallText {
  font-size: clamp(0.75rem, 7vw, 0.85rem);
  color: rgb(46, 46, 46);
  font-weight: 300;
}

// Header Styles
@import "./nav.scss";

// Home Page styles
@import "./homePage.scss";

// Home Page styles
@import "./createPage.scss";

// Buttons styles
@import "./form.scss";

// Buttons styles
@import "./buttons.scss";

// React-Transition-Group Animations
@import "./transitions.scss";
