@import "./variables.scss";

// ---------- Style reset
* {
  box-sizing: border-box;
  margin: 0;
}
a {
  text-decoration: none;
  color: black;
}
h1,
h2,
h3,
h4 {
  font-size: 1rem;
  font-weight: 400;
}

// ---------- General Styles

body {
  position: relative;
  background-color: $white;
  background: radial-gradient(
    circle,
    rgb(248, 238, 219) 0%,
    rgba(255, 253, 250, 1) 100%
  );
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  &::before {
    position: fixed;
    top: 0;
    content: "";
    width: 100%;
    height: 100%;
    background-image: url("/assets/images/grid.svg");
    z-index: -10000;
    opacity: 0.3;
    filter: invert(1);
  }
}

main {
  padding: 1rem 6vw;
}

section {
  width: 100%;

  display: grid;
  place-items: center;
}

.loading {
  padding-top: calc(50dvh - 200px);
  place-items: center;
}

h1 {
  text-align: center;
  text-transform: uppercase;

  font-weight: 900;
  font-size: clamp(1rem, 10vw, 2rem);
}

.smallText {
  font-size: clamp(0.75rem, 7vw, 0.85rem);
  color: rgb(46, 46, 46);
  font-weight: 300;
}

// Buttons styles
@import "./buttons.scss";

// React-Transition-Group Animations
@import "./animations.scss";
